@page "/{TextToRender?}"

<PageTitle>
    @PageTitle
</PageTitle>

<h1>
    @PageTitle
</h1>

<form @onsubmit="@GenerateImage">

    <label for="textToRender">
        I am tired of...
    </label>

    <input id="textToRender"
           type="text"
           maxlength="30"
           disabled="@IsWorking"
           placeholder="Enter some text"
           @bind="@TextToRender" />

    <button type="submit"
            class="btn btn-primary"
            disabled="@IsWorking">
        Generate
    </button>

    @if (IsWorking)
    {
        <span class="working-message">
            <strong>
                Working...
            </strong>
        </span>
    }
    else if (GenerationTime is { TotalSeconds: var totalSeconds })
    {
        <strong>
            Image generated in @totalSeconds seconds.
        </strong>
    }

</form>

<div>
    @if (ImageBytes is not null)
    {
        <img src="data:image/png;base64,@GetImageBase64"
             class="generated-image"
             alt="@AltText"
             title="@AltText">
    }
    else
    {
        <img src="assets/background.png"
             class="default-image"
             alt="Doctor Manhattan sitting on a rock on Mars">
    }
</div>

<p>
    Source code here: <a href="https://github.com/codemonkey85/TiredDoctorManhattan"
                         target="_blank">https://github.com/codemonkey85/TiredDoctorManhattan</a>
</p>
