@page "/{TextToRender?}"

<PageTitle>
    @PageTitle
</PageTitle>

@if (IsUpdateAvailable)
{
    <div class="alert alert-warning alert-dismissible fade show"
         role="alert">
        A new version of the app is available. Please refresh the page to update.
        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
}

<form @onsubmit="@GenerateImage">
    <MudStack Row
              AlignItems="AlignItems.Center"
              Spacing="5"
              Class="ma-1 pa-1">

        <MudText>
            I am tired of...
        </MudText>

        <MudInput @bind-Value="@TextToRender"
                  @ref="@TextInput"
                  Variant="@Variant.Outlined"
                  Margin="@Margin.Dense"
                  Disabled="@IsWorking"
                  Placeholder="Enter some text"
                  MaxLength="30" />

        <MudButton ButtonType="@ButtonType.Submit"
                   Variant="@Variant.Filled"
                   Color="@Color.Primary"
                   Disabled="@IsWorking">
            Generate
        </MudButton>

        @if (IsWorking)
        {
            <MudText>
                <strong>
                    Working...
                </strong>
            </MudText>
        }
        else if (GenerationTime is { TotalSeconds: var totalSeconds })
        {
            <MudText>
                Image generated in @totalSeconds seconds.
            </MudText>
        }

    </MudStack>
</form>

<div>
    @if (ImageBytes is not null)
    {
        <img src="data:image/png;base64,@GetImageBase64"
             class="generated-image"
             alt="@AltText"
             title="@AltText">
    }
    else
    {
        <img src="assets/background.png"
             class="default-image"
             alt="@BaseAltText">
    }
</div>
